.dropdown {
    position: relative;
  }
  
  .dropdown-toggle {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  
  .dropdown-toggle i {
    margin-left: 5px;
  }
  
  .dropdown-menu {
    position: absolute;
    left: 0;
    top: 100%;
    list-style: none;
    background-color: #fff;
    border: none; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    padding: 0;
    margin: 0;
    width: 100%;
  }
  
  .dropdown-menu li {
    padding: 10px;
  }
  
  .dropdown-menu li:hover {
    background-color: #f1f1f1;
  }
  